{%extends "layout.html"%}
{%block content%}
<div id="body">	
	<h1>Мое хобби</h1>
	<p id="main-text">	С самого детства, с возраста 6 лет я увлекаюсь музыкальными инструментами, а именно <span class="important-text">домброй</span>. Это хобби помогает мне отвлечься от рутины и освободить мысли. Также, возможно игра на музыкальных инструментах улучшает мои когнитивные способности. Как-бы то ни было, игра на домбре развивает мое умение вслушиваться в окружающие звуки. Со школьным ансамблем мы часто  выступаем на различных концертов, и это в свою очередь помогло мне перебороть страх сцены.</p>
	<p>Также, помимо домбры у меня есть и другие хобби</p>
	<table id="table" border="5px">
		<tr>
			<th class="table-head">Хобби</th>
			<th class="table-head">Краткое описание</th>
		</tr>
		<tr>
			<td id="j">Программирование</td>
			<td>Обучение языкам и написание программ/сайтов</td>
		</tr>
		<tr>
			<td>Сборка компьютеров</td>
			<td>Сборка ПК, ноутбуков из комплектущих. Спайка плат. Модификация железа</td>
		</tr>
		<tr>
			<td>Ethical hacking</td>
			<td>Изучение сетей, протоколов и систем защиты. Тестирование различных видов информационных атак только с благими намерениями.</td>
		</tr>
		<tr>
			<td>Сборка Кубика-Рубика</td>
			<td>Изучение различных методов скоростной сборки Кубика-Рубика и их применеие для достижения минимального времени сборки</td>
		</tr>
	</table>
	<a href="www.wikipedia.com" onclick="alert('Посетите наш учебник HTML'); return false;">Наш сайт</a>
	<img src="static/images/dombra.jpg">
	<div id="marquee-div">
		<marquee id="marquee" behavior="scroll" direction="right" height="30px" >кураторкөмектескураторкөмектескураторкөмектес</marquee>
	</div>
</div>
{%endblock%}